.shporBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #00000040;
    padding: 30px 50px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
}

#shporImagesQuestions, #shporImagesAnswers {
    display: none;
}

.upload_files {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 100%;
    height: 35px;
    padding: 0 10px;
    background-color: #00dab2;
    transition: 0.5s ease-in-out;
}

.uploaded{
    background-color: #50db00 !important;
}

.marginTop {
    margin-top: 15px;
}

.title {
    font-size: 20px;
    color: #00dab2;
    margin-bottom: 15px;
}