@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
  font-family: 'Urbanist';
}

.App {
  display: flex;
  flex-direction: column;
}

::-webkit-scrollbar {
  width: 7px;
  background-color: #141414;
}

::-webkit-scrollbar-thumb {
  background: #686868;
}
