header{
    background-color: #141414;
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px; 
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    border-bottom: 3px solid #00DAB2;
}

.logo {
    font-size: 20px;
    color: #00DAB2;
    font-weight: 700;
}

.logo:hover {
    cursor: pointer;
}
  
.logo span {
    background-color: #474747;
    color: #141414;
    padding: 3px 5px;
    border-radius: 8px;
    margin-left: 2px;
    background-color: #00DAB2;
    box-shadow: 0 0 60px #00dab2;
    transition: 0.5s;
}

.nickname {
    font-size: 17px;
    color: #00DAB2;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.mar_horiz{
    margin-right: 10px;
    margin-left: 10px;
}