.post {
  width: 600px;
  background-color: #2b2b2b;
  border-radius: 5px;
  color: #525252;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  font-size: 20px;
  margin-bottom: 40px;
  transition: 0.3s;
  z-index: 10;
}

.post label {
  width: 100%;
  margin-bottom: 5px;
}

.post .test_description {
  margin-bottom: 15px;
}

.image {
  width: 100%;
  background-color: transparent;
}

.image img {
  width: 100%;
  height: 100%;
}

.button {
    font-size: 20px;
    padding: 10px 40px;
    margin-top: 15px;
    margin-bottom: 5px;
}
